@font-face {
    font-family: 'myFont';
    src: url('font/SpFont.otf') format('truetype');
}

body {
    margin-top: 56px;
    color: #1d2d61;
    background-image: url('illustrations/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}

.sidebar {
    height: 40px; /* Hauteur du volet de navigation */
    background-color: #2a418d; /* Couleur de fond */
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: inline-block; /* Affichage en ligne pour les éléments de liste */
    padding: 10px;
}

.sidebar ul li a {
    color: #ffffff; /* Couleur du texte */
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
}

.sidebar ul li a:hover {
    background-color: #1f2f64; /* Couleur de fond au survol */
    padding: 8px;
    border-radius: 15px;
}

.overlayTitle {
    background-color: #1c1c1cd0;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    
}

.overlayWeapon {
    margin: auto;
    background-color: #1c1c1cd0;
    border: none;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    width: 250px;

}

.pictureBorder {
    margin: auto;
    background-color: #1c1c1cd0;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    width: 200px;
}

.pictureBorder2 {
    margin: 10px;
    background-color: #1c1c1cd0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 50px;
}

.button {
    background-color: #2a418d;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    width: auto;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
}

.button:hover {
    background-color: #1f2f64; /* Couleur de fond au survol */
    padding: 20px;
    border-radius: 20px;
}

.content {
    margin-top: 0px; /* Marge en haut pour éviter de chevaucher le volet de navigation */
    padding: 20px;
}